<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Diamond White, Emily Kong, Ashik Tomy">
    <title>Auth0 Example</title>
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=console.debug&libraries=maps,marker&v=beta"></script>
    <style>
      gmp-map {
        height: 100%;
      }

      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    {% if session %}
    <gmp-map center="40.12150192260742,-100.45039367675781" zoom="4" map-id="DEMO_MAP_ID">
      <gmp-advanced-marker position="40.12150192260742,-100.45039367675781" title="My location"></gmp-advanced-marker>
    </gmp-map>
    {% else %}
    <h1 id="profileDropDown">Welcome Guest</h1>
    <p><a href="/login" id="qsLoginBtn">Login</a></p>
    {% endif %}
  </body>
</html>
