
body {
    background-color: #FFCF9D;
}

h1 {
    color: rgb(158, 87, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login {
    background-color: #DE8F5F; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    max-width: 10%;

}

.logout {

    background-color: #DE8F5F; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
  }